/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
  word-break: break-word;
}

#root, #__next {
  isolation: isolate;
}

body {
  background-color: #181818;
  /* #181818 */
  color: white;
  font-family:  "Roboto", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.active {
  background-color: rgb(66, 65, 65);
  font-weight: bold;
}