main .searchContainer {
    display: none;
    margin: auto;
    width: 70%;
}

.searchContainer {
    position: relative;
    padding: 0.5rem 0;
}

.searchDiv input {
    color: inherit;
    background-color: #232323;
    padding: 0.5rem;
    width: 100%;
    margin: 0 auto;
    padding-left: 2.2rem;
    border-radius: 15px;
    border: 1px solid rgba(128, 128, 128, 0.465);
}

.searchDiv input::placeholder {
    color: rgb(150, 150, 150);
}

.searchDiv {
    position: relative;
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.top {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.searchIcon {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
}

.searchContainer:focus-within .result {
    display: block;
}

.top a {
    flex-shrink: 0;
}

.top > img {
    width: 38px;
    box-sizing: content-box;
    display: none;
}

.result {
    display: none;
    position: absolute;
    overflow-y: auto;
    width: 100%;
    z-index: 999;
    height: 120px;
    max-height: 350px;
    border-radius: 10px;
    padding: 0.5rem;
    border: 1px solid grey;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 15px;
    background-color: #101218;
}

.result li {
    list-style: none;
}

.result > p {
    color: grey;
    text-align: center;
    font-size: 1.1rem;
    margin-top: 1rem;
    padding: 0 0.6rem;
}

.result img {
    width: 2.8rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    align-self: flex-start;
    flex-shrink: 0;
}

.member a {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding: 0.3rem;
    border-radius: 10px;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.member a:hover {
    background-color: rgb(30, 35, 51);
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    padding: 2px;
    margin: 0;
    cursor: pointer;
    background-color: #2a3040;
    border-radius: 50%;
}

.close:hover {
    filter: brightness(1.6);
}

.loading {
    animation: 800ms linear 0s infinite loading;
    margin: auto;
}

.loadingDiv {
    align-content: center;
    height: 50%;
    text-align: center;
}

@keyframes loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(1turn);
    }
}

@media (max-width: 900px) {
    main .searchContainer {
        display: block;
    }
    /* .searchContainer {
        padding: 0.5rem;
    } */
}

@media (max-width: 600px) {
    main .searchContainer {
        width: 95%;
    }
}

@media (max-width: 500px) {
    .result {
        height: 170px;
        right: 5px;
        width: 86%;
    }
    main .searchContainer {
        padding: 0.5rem;
        width: 100%;
    }
    .top img {
        display: block;
    }
}
