.post {
    border-bottom: 2px solid grey;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.post:hover {
    background-color: rgb(39, 32, 29);
}

.info > a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.info > a:hover {
    color: rgb(253, 62, 62);
}

.post > a > img {
    width: 3rem;
    border-radius: 50%;
    align-self: flex-start;
}

.post > a {
    align-self: flex-start;
    transition: transform 200ms ease;
    flex-shrink: 0;
    text-decoration: none;
}

.post > a:hover {
    transform: scale(1.1);
}

.post > a:hover img {
    /* border: 3px solid red; */
    box-shadow: 0px 0px 4px 4px red;
}

.info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.info > p:last-of-type {
    color: rgb(149, 149, 149);
}

.interactions {
    display: flex;
    align-items: center;
    margin-top: 0.8rem;
    gap: 1rem;
}

.interactions > button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: inherit;
    transition: transform 200ms ease;

}

.interactions > button svg {
    padding: 0.3rem;
}

.interactions > button:hover {
    transform: scale(1.1);
    color: red;
}

.interactions > button:hover svg {
    stroke: red;
    background-color: rgba(255, 0, 0, 0.25);
    border-radius: 50%;
}

.likes, .comments {
    display: flex;
    align-items: center;
}


.right > div {
    margin-bottom: 0.2rem;
}