.container {
    border: 2px solid grey;
    border-radius: 10px;
}

.main {
    width: 50rem;
    margin: auto;
}

.main header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.post {
    background-color: #181818;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid grey;
    text-decoration: none;
    color: inherit;
    margin-bottom: 2rem;
}

.post > img {
    width: 3rem;
    border-radius: 50%;
    flex-shrink: 0;
    align-self: flex-start;
}

.interactions {
    display: flex;
    align-items: center;
    margin-top: 0.8rem;
    gap: 1rem;
}

.interactions > button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    color: inherit;
    transition: transform 200ms ease;

}

.interactions > button svg {
    padding: 0.3rem;
}

.interactions > button:hover {
    transform: scale(1.1);
    color: red;
}

.interactions > button:hover svg {
    stroke: red;
    background-color: rgba(255, 0, 0, 0.25);
    border-radius: 50%;
}

.likes, .comments {
    display: flex;
    align-items: center;
}

.info {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.close {
    background: none;
    border: none;
    transition: transform 150ms ease;
    padding: 0;
    margin: 0;
}

.close:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.close svg:hover {
    stroke: red;
}
