.container {
    border-top: 1px solid rgba(128, 128, 128, 0.465);
}

.info > p:last-of-type {
    color: rgb(149, 149, 149);
}

.post > a:hover {
    transform: scale(1.1);
}

.post > a:hover img {
    /* border: 3px solid red; */
    box-shadow: 0px 0px 4px 2px red;
}

.post {
    background-color: #181818;
    color: white;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid grey;
    text-decoration: none;
    color: inherit;
}

.fileDiv > button:disabled {
    background-color: #efefef;
}

.post > a > img {
    width: 3rem;
    border-radius: 50%;
    border: 1px solid rgba(128, 128, 128, 0.2);
}

.post > a {
    flex-shrink: 0;
    align-self: flex-start;
    transition: transform 200ms ease;
}

.interactions {
    display: flex;
    align-items: center;
    margin-top: 0.8rem;
    gap: 1rem;
}

.interactions button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    color: inherit;
    transition: transform 200ms ease;

}

.interactions button svg {
    padding: 0.3rem;
}

.interactions button:hover {
    transform: scale(1.1);
    color: red;
}

.interactions button:hover svg {
    stroke: red;
    background-color: rgba(255, 0, 0, 0.25);
    border-radius: 50%;
}

.likes, .comments {
    display: flex;
    align-items: center;
}

.info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.info > a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.info > a:hover {
    color: rgb(253, 62, 62);
}

.close {
    background: none;
    border: none;
    padding: 0.2rem;
    margin: 0;
    cursor: pointer;
    transition: transform 150ms ease;
    border-radius: 50%;
}

.close:hover {
    transform: scale(1.2);
    filter: brightness(0.8);
    background-color: #2a3040;
}

.content > p {
    margin-bottom: 0.7rem;
}

.content > img {
    border-radius: 5px;
    cursor: pointer;
    max-width: 95%;
}

.happening {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #282828;
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.465);
    border-top: 1px solid rgba(128, 128, 128, 0.465);
    padding: 0.5rem 1rem;
}

.text {
    display: flex;
    gap: 0.5rem;
    align-items: flex-start;
}

.happening textarea::placeholder {
    color: #adadad;
}

.happening textarea {
    font-size: 1.05rem;
    color: inherit;
    resize: none;
    flex: 1;
    padding: 0.5rem;
    background-color: inherit;
    border: none;
    border-radius: 5px;
    height: 2.8rem;
}

.text textarea:focus {
    outline-color: rgba(128, 128, 128, 0.546);
    outline-width: 1px;
    outline-style: solid;
}

.happening form img {
    width: 2.7rem;
    border-radius: 50%;
    border: 1px solid rgba(128, 128, 128, 0.2);
}

.text button {
    align-self: center;
}


.text button, .fileDiv > button {
    padding: 0.3rem 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: transform 200ms ease;
    margin-left: auto;
}

.text button:hover, .fileDiv > button:hover {
    filter: brightness(0.8);
    transform: scale(1.05);
}

.happening > button {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 0.3rem;
}

.file input[type="file"]::file-selector-button {
    display: none;
}

.file input[type="file"] {
    max-width: 8rem;
}

.file {
    display: none;
}

.file > div {
    display: flex;
    align-items: center;
}

.fileError {
    background-color: red;
    font-weight: bold;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
}

.fileDiv {
    display: flex;
    margin-top: 0.3rem;
    align-items: center;
    margin-left: 3.3rem;
    gap: 0.3rem;
}

.fileDiv label, .file button {
    background: none;
    border: none;
    padding: 0.3rem;
    margin: 0;
    cursor: pointer;
    transition: transform 200ms ease;
    border-radius: 50%;
    flex-shrink: 0;
}

.fileDiv label:hover, .file button:hover {
    filter: brightness(1.6);
    background-color: #2a3040;
    transform: scale(1.05);
}

.requirement {
    font-size: 0.9rem;
    display: none;
    margin-left: 3rem;
}

.send {
    display: none;
}

.loading {
    animation: 800ms linear 0s infinite loading;
    margin: auto;
}

.loadingDiv {
    align-content: center;
    height: 50dvh;
    text-align: center;
}

.loadingDiv h1 {
    font-size: 1.5vw;
}

@keyframes loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(1turn);
    }
}

@media (max-width: 900px) {
}


@media (max-width: 500px) {
    .post > a > img {
        width: 2.8rem;
    }
    .happening textarea {
        font-size: 1rem;
    }
    .text button, .fileDiv > button {
        font-size: 1rem;
        padding: 0.3rem 0.7rem;
    }
    .send {
        display: block;
    }
    .send + p {
        display: none;
    }
}

@media (max-width: 350px) {
    .happening form img {
        display: none;
    }
    .fileDiv {
        margin-left: 0;
    }
    .send {
        width: 1.3rem;
    }
}




