.sidebar {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 0;
    height: 100dvh;
    width: 250px;
    z-index: 9;
    padding: 2rem 0;
    padding-bottom: 0.5rem;
    background-color: #181818;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
    width: 100%;
}

.user img {
    width: 38px;
    border-radius: 50%;
    border: 1px solid rgba(128, 128, 128, 0.2);
    flex-shrink: 0;
}

.sidebar h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0.7rem;
    margin-bottom: 1rem;
}
nav > a, .logout, .login {
    text-decoration: none;
    font-size: 1.35rem;
    border-radius: 15px;
    color: white;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0.5rem 1rem;
    padding-right: 1.8rem;
    background: none;
    border: none;
    cursor: pointer;
}

.sidebar a > svg, .sidebar button > svg {
    flex-shrink: 0;
}

.post > svg {
    display: none;
}

nav > a:hover, .logout:hover, .login:hover {
    background-color: rgb(66, 65, 65);
}

.notifications > div {
    position: relative;
    flex-shrink: 0;
}

.count {
    font-size: 1rem;
    line-height: 1;
    font-weight: bold;
}

.countDiv {
    position: absolute;
    top: -8px;
    right: -5px;
    width: 18px;  
    background-color: #0019ff;
    border-radius: 50%;
    aspect-ratio: 1;
    padding: 3px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.post {
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 25px;
    width: 90%;
    cursor: pointer;
    transition: transform 200ms ease;
}

.logout {
    margin-top: auto;
}

.post:hover {
    filter: brightness(0.8);
    transform: scale(1.05);
}

@media (max-width: 800px) {
    .sidebar h2 {
        font-size: 1.3rem;
    }

    .post > svg {
        display: block;
    }

    nav > a > p, .logout > p, .login > p, .post > p  {
        display: none;
    }
}

@media (max-width: 550px) {
    .sidebar {
        padding: 0.5rem 0.2rem;
    }
    .sidebar h2 {
        font-size: 1.1rem;
    }
    .sidebar a > svg, .sidebar button > svg {
        width: 1.7rem;
    }
    nav > a, .logout, .sidebar h2, .post {
        padding: 0.5rem;
    }
    nav {
        gap: 0.5rem;
    }
}