.happening {
    margin: 0 auto;
    width: 100%;
    padding: 0.8rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.465);
}

.happening img {
    width: 2.75rem;
    border-radius: 50%;
    flex-shrink: 0;
    border: 1px solid rgba(128, 128, 128, 0.2);
}

.mind {
    flex: 1;
    text-align: left;
    background: none;
    border: 1px solid grey;
    border-radius: 20px;
    background-color: #232323;
    padding: 0.5rem 1rem;
    color: rgb(142, 142, 142);
    cursor: pointer;
}

.image {
    background: none;
    border: none;
    padding: 0.3rem;
    margin: 0;
    cursor: pointer;
    transition: transform 200ms ease;
    border-radius: 50%;
    flex-shrink: 0;
}

.mind:hover {
    filter: brightness(1.2);
}

.image:hover {
    filter: brightness(1.5);
    background-color: #2a3040;
}

.loading {
    animation: 800ms linear 0s infinite loading;
    margin: auto;
}

.loadingDiv {
    align-content: center;
    height: 50dvh;
    text-align: center;
}

.main h1 {
    font-size: max(1.1rem, 1.5vw);
}

@keyframes loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(1turn);
    }
}

@media (max-width: 900px) {
    .happening {
        display: none;
    }
}
